terraform/modules/data_factory/pipeline.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "String"
    },
    "keyVaultBaseUrl": {
      "type": "String"
    },
    "sourceFileshareAccountName": {
      "type": "String"
    },
    "destFileshareAccountName": {
      "type": "String"
    },
    "sourceFileshareStorageResourceId": {
      "type": "String"
    },
    "destFileshareStorageResourceId": {
      "type": "String"
    },
    "checkpointStorageAccountName": {
      "type": "String"
    },
    "checkpointStorageResourceId": {
      "type": "String"
    },
    "checkpointContainerName": {
      "type": "String"
    },
    "checkpointCurrentPrefix": {
      "type": "String"
    },
    "checkpointJournalPrefix": {
      "type": "String"
    },
    "fileshareCheckpointBlobName": {
      "type": "String"
    },
    "datalakeCheckpointBlobName": {
      "type": "String"
    },
    "fileshareReconcileCapBlobName": {
      "type": "String"
    },
    "fileshareReconcileCurrentFrontierBlobName": {
      "type": "String",
      "defaultValue": "fileshare-reconcile-current-frontier.json"
    },
    "fileshareReconcileNextFrontierBlobName": {
      "type": "String",
      "defaultValue": "fileshare-reconcile-next-frontier.json"
    },
    "fileshareReconcileMaxDepth": {
      "type": "Int",
      "defaultValue": 32
    },
    "datalakeReconcileCapBlobName": {
      "type": "String",
      "defaultValue": "datalake-reconcile-cap.json"
    },
    "bootstrapWatermark": {
      "type": "String"
    },
    "deleteReconcileScheduleHours": {
      "type": "String"
    },
    "deleteReconcileTriggerStartTime": {
      "type": "String"
    },
    "deleteReconcileCapPerRun": {
      "type": "Int"
    },
    "sourceDatalakeAccountName": {
      "type": "String"
    },
    "destDatalakeAccountName": {
      "type": "String"
    },
    "sourceDatalakeFilesystem": {
      "type": "String"
    },
    "destDatalakeFilesystem": {
      "type": "String"
    },
    "sourceDatalakeStorageResourceId": {
      "type": "String"
    },
    "destDatalakeStorageResourceId": {
      "type": "String"
    },
    "datalakeReconcileCurrentFrontierBlobName": {
      "type": "String",
      "defaultValue": "datalake-reconcile-current-frontier.json"
    },
    "datalakeReconcileNextFrontierBlobName": {
      "type": "String",
      "defaultValue": "datalake-reconcile-next-frontier.json"
    },
    "datalakeReconcileMaxDepth": {
      "type": "Int",
      "defaultValue": 32
    }
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/default')]",
      "properties": {}
    },
    {
      "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/default/adf-source-fileshare-pe')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/managedVirtualNetworks/default')]"
      ],
      "properties": {
        "groupId": "file",
        "privateLinkResourceId": "[parameters('sourceFileshareStorageResourceId')]"
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/default/adf-dest-fileshare-pe')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/managedVirtualNetworks/default')]"
      ],
      "properties": {
        "groupId": "file",
        "privateLinkResourceId": "[parameters('destFileshareStorageResourceId')]"
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/default/adf-checkpoint-pe')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/managedVirtualNetworks/default')]"
      ],
      "properties": {
        "groupId": "blob",
        "privateLinkResourceId": "[parameters('checkpointStorageResourceId')]"
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/default/adf-source-datalake-pe')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/managedVirtualNetworks/default')]"
      ],
      "properties": {
        "groupId": "dfs",
        "privateLinkResourceId": "[parameters('sourceDatalakeStorageResourceId')]"
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/default/adf-dest-datalake-pe')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/managedVirtualNetworks/default')]"
      ],
      "properties": {
        "groupId": "dfs",
        "privateLinkResourceId": "[parameters('destDatalakeStorageResourceId')]"
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/integrationruntimes",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/adf-managed-ir')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/managedVirtualNetworks/default')]"
      ],
      "properties": {
        "type": "Managed",
        "managedVirtualNetworkReference": {
          "referenceName": "default",
          "type": "ManagedVirtualNetworkReference"
        },
        "typeProperties": {
          "computeProperties": {
            "location": "Canada East",
            "dataFlowProperties": {
              "computeType": "General",
              "coreCount": 8,
              "timeToLive": 10
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/adf-keyvault')]",
      "properties": {
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[parameters('keyVaultBaseUrl')]"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/source_fileshare')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/integrationruntimes/adf-managed-ir')]"
      ],
      "properties": {
        "type": "AzureFileStorage",
        "connectVia": {
          "referenceName": "adf-managed-ir",
          "type": "IntegrationRuntimeReference"
        },
        "typeProperties": {
          "serviceEndpoint": "[concat('https://', parameters('sourceFileshareAccountName'), '.file.core.windows.net/')]",
          "fileShare": "fileshare"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/source_datalake')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/integrationruntimes/adf-managed-ir')]"
      ],
      "properties": {
        "type": "AzureBlobFS",
        "connectVia": {
          "referenceName": "adf-managed-ir",
          "type": "IntegrationRuntimeReference"
        },
        "typeProperties": {
          "url": "[concat('https://', parameters('sourceDatalakeAccountName'), '.dfs.core.windows.net')]"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/dest_datalake')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/integrationruntimes/adf-managed-ir')]"
      ],
      "properties": {
        "type": "AzureBlobFS",
        "connectVia": {
          "referenceName": "adf-managed-ir",
          "type": "IntegrationRuntimeReference"
        },
        "typeProperties": {
          "url": "[concat('https://', parameters('destDatalakeAccountName'), '.dfs.core.windows.net')]"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/dest_fileshare')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/integrationruntimes/adf-managed-ir')]"
      ],
      "properties": {
        "type": "AzureFileStorage",
        "connectVia": {
          "referenceName": "adf-managed-ir",
          "type": "IntegrationRuntimeReference"
        },
        "typeProperties": {
          "serviceEndpoint": "[concat('https://', parameters('destFileshareAccountName'), '.file.core.windows.net/')]",
          "fileShare": "fileshare"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedservices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/checkpoint_storage')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/integrationruntimes/adf-managed-ir')]"
      ],
      "properties": {
        "type": "AzureBlobStorage",
        "connectVia": {
          "referenceName": "adf-managed-ir",
          "type": "IntegrationRuntimeReference"
        },
        "typeProperties": {
          "serviceEndpoint": "[concat('https://', parameters('checkpointStorageAccountName'), '.blob.core.windows.net')]",
          "authenticationType": "ManagedIdentity"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/source_fileshare')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/source_fileshare')]"
      ],
      "properties": {
        "parameters": {
          "folderPath": {
            "type": "String",
            "defaultValue": "/"
          },
          "fileName": {
            "type": "String",
            "defaultValue": ""
          }
        },
        "linkedServiceName": {
          "referenceName": "source_fileshare",
          "type": "LinkedServiceReference"
        },
        "type": "AzureFile",
        "typeProperties": {
          "folderPath": {
            "value": "@dataset().folderPath",
            "type": "Expression"
          },
          "fileName": {
            "value": "@dataset().fileName",
            "type": "Expression"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/source_datalake')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/source_datalake')]"
      ],
      "properties": {
        "parameters": {
          "folderPath": {
            "type": "String",
            "defaultValue": "[parameters('sourceDatalakeFilesystem')]"
          },
          "fileName": {
            "type": "String",
            "defaultValue": ""
          }
        },
        "linkedServiceName": {
          "referenceName": "source_datalake",
          "type": "LinkedServiceReference"
        },
        "type": "AzureBlobFSDataset",
        "typeProperties": {
          "folderPath": {
            "value": "@dataset().folderPath",
            "type": "Expression"
          },
          "fileName": {
            "value": "@dataset().fileName",
            "type": "Expression"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/dest_datalake')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/dest_datalake')]"
      ],
      "properties": {
        "parameters": {
          "folderPath": {
            "type": "String",
            "defaultValue": "[parameters('destDatalakeFilesystem')]"
          },
          "fileName": {
            "type": "String",
            "defaultValue": ""
          }
        },
        "linkedServiceName": {
          "referenceName": "dest_datalake",
          "type": "LinkedServiceReference"
        },
        "type": "AzureBlobFSDataset",
        "typeProperties": {
          "folderPath": {
            "value": "@dataset().folderPath",
            "type": "Expression"
          },
          "fileName": {
            "value": "@dataset().fileName",
            "type": "Expression"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/dest_fileshare')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/dest_fileshare')]"
      ],
      "properties": {
        "parameters": {
          "folderPath": {
            "type": "String",
            "defaultValue": "/"
          },
          "fileName": {
            "type": "String",
            "defaultValue": ""
          }
        },
        "linkedServiceName": {
          "referenceName": "dest_fileshare",
          "type": "LinkedServiceReference"
        },
        "type": "AzureFile",
        "typeProperties": {
          "folderPath": {
            "value": "@dataset().folderPath",
            "type": "Expression"
          },
          "fileName": {
            "value": "@dataset().fileName",
            "type": "Expression"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/fileshare_checkpoint')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('fileshareCheckpointBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "setOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/datalake_checkpoint')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('datalakeCheckpointBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "setOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/fileshare_cap_counter')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('fileshareReconcileCapBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "setOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/fileshare_current_frontier')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('fileshareReconcileCurrentFrontierBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "arrayOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/fileshare_next_frontier')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('fileshareReconcileNextFrontierBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "setOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/datalake_cap_counter')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('datalakeReconcileCapBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "setOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/datalake_current_frontier')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('datalakeReconcileCurrentFrontierBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "arrayOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/datalake_next_frontier')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/linkedservices/checkpoint_storage')]"
      ],
      "properties": {
        "linkedServiceName": {
          "referenceName": "checkpoint_storage",
          "type": "LinkedServiceReference"
        },
        "type": "Json",
        "typeProperties": {
          "location": {
            "type": "AzureBlobStorageLocation",
            "container": "[parameters('checkpointContainerName')]",
            "folderPath": "[parameters('checkpointCurrentPrefix')]",
            "fileName": "[parameters('datalakeReconcileNextFrontierBlobName')]"
          },
          "format": {
            "type": "JsonFormat",
            "filePattern": "setOfObjects"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/copyfilesharepipeline')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/source_fileshare')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/dest_fileshare')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_checkpoint')]"
      ],
      "properties": {
        "concurrency": 1,
        "parameters": {
          "checkpointStorageAccountName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointStorageAccountName')]"
          },
          "checkpointContainerName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointContainerName')]"
          },
          "checkpointCurrentPrefix": {
            "type": "String",
            "defaultValue": "[parameters('checkpointCurrentPrefix')]"
          },
          "fileshareCheckpointBlobName": {
            "type": "String",
            "defaultValue": "[parameters('fileshareCheckpointBlobName')]"
          }
        },
        "variables": {
          "bootstrapWatermark": {
            "type": "String",
            "defaultValue": "[parameters('bootstrapWatermark')]"
          },
          "runWindowStartUtc": {
            "type": "String"
          },
          "runWindowEndUtc": {
            "type": "String"
          }
        },
        "activities": [
          {
            "name": "SetRunWindowEnd",
            "type": "SetVariable",
            "dependsOn": [],
            "typeProperties": {
              "variableName": "runWindowEndUtc",
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              }
            }
          },
          {
            "name": "ReadCheckpoint",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "SetRunWindowEnd",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:05:00",
              "retry": 1,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "dataset": {
                "referenceName": "fileshare_checkpoint",
                "type": "DatasetReference"
              },
              "firstRowOnly": true
            }
          },
          {
            "name": "SetWindowStart",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "ReadCheckpoint",
                "dependencyConditions": [
                  "Succeeded",
                  "Failed",
                  "Skipped"
                ]
              }
            ],
            "typeProperties": {
              "variableName": "runWindowStartUtc",
              "value": {
                "value": "@if(or(empty(activity('ReadCheckpoint').output), empty(activity('ReadCheckpoint').output.firstRow), empty(activity('ReadCheckpoint').output.firstRow.lastSuccessfulWatermarkUtc)), variables('bootstrapWatermark'), activity('ReadCheckpoint').output.firstRow.lastSuccessfulWatermarkUtc)",
                "type": "Expression"
              }
            }
          },
          {
            "name": "CopyFiles",
            "type": "Copy",
            "dependsOn": [
              {
                "activity": "SetWindowStart",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0
            },
            "typeProperties": {
              "source": {
                "type": "FileSystemSource",
                "recursive": true,
                "modifiedDatetimeStart": {
                  "value": "@addSeconds(variables('runWindowStartUtc'), -30)",
                  "type": "Expression"
                },
                "modifiedDatetimeEnd": {
                  "value": "@variables('runWindowEndUtc')",
                  "type": "Expression"
                }
              },
              "sink": {
                "type": "FileSystemSink",
                "copyBehavior": "PreserveHierarchy"
              },
              "enableStaging": false,
              "validateDataConsistency": false,
              "logSettings": {
                "enableCopyActivityLog": true,
                "copyActivityLogSettings": {
                  "logLevel": "Warning",
                  "enableReliableLogging": false
                },
                "logLocationSettings": {
                  "linkedServiceName": {
                    "referenceName": "checkpoint_storage",
                    "type": "LinkedServiceReference"
                  },
                  "path": "[concat(parameters('checkpointContainerName'), '/', parameters('checkpointJournalPrefix'), '/copyfilesharepipeline/logs')]"
                }
              },
              "skipErrorFile": {
                "fileMissing": true
              }
            },
            "inputs": [
              {
                "referenceName": "source_fileshare",
                "type": "DatasetReference"
              }
            ],
            "outputs": [
              {
                "referenceName": "dest_fileshare",
                "type": "DatasetReference"
              }
            ]
          },
          {
            "name": "WriteCheckpoint",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "CopyFiles",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/', pipeline().parameters.fileshareCheckpointBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "body": {
                "value": "@concat('{', '\"schemaVersion\":\"1\",', '\"pipelineName\":\"copyfilesharepipeline\",', '\"lastSuccessfulWatermarkUtc\":\"', variables('runWindowEndUtc'), '\",', '\"lastRunId\":\"', pipeline().RunId, '\",', '\"lastRunStatus\":\"succeeded\",', '\"lastRunEndedUtc\":\"', utcNow(), '\"', '}')",
                "type": "Expression"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              }
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/copydatalakegen2pipeline')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/source_datalake')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/dest_datalake')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_checkpoint')]"
      ],
      "properties": {
        "concurrency": 1,
        "parameters": {
          "checkpointStorageAccountName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointStorageAccountName')]"
          },
          "checkpointContainerName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointContainerName')]"
          },
          "checkpointCurrentPrefix": {
            "type": "String",
            "defaultValue": "[parameters('checkpointCurrentPrefix')]"
          },
          "datalakeCheckpointBlobName": {
            "type": "String",
            "defaultValue": "[parameters('datalakeCheckpointBlobName')]"
          }
        },
        "variables": {
          "bootstrapWatermark": {
            "type": "String",
            "defaultValue": "[parameters('bootstrapWatermark')]"
          },
          "runWindowStartUtc": {
            "type": "String"
          },
          "runWindowEndUtc": {
            "type": "String"
          }
        },
        "activities": [
          {
            "name": "SetRunWindowEnd",
            "type": "SetVariable",
            "dependsOn": [],
            "typeProperties": {
              "variableName": "runWindowEndUtc",
              "value": {
                "value": "@utcNow()",
                "type": "Expression"
              }
            }
          },
          {
            "name": "ReadCheckpoint",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "SetRunWindowEnd",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:05:00",
              "retry": 1,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "dataset": {
                "referenceName": "datalake_checkpoint",
                "type": "DatasetReference"
              },
              "firstRowOnly": true
            }
          },
          {
            "name": "SetWindowStart",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "ReadCheckpoint",
                "dependencyConditions": [
                  "Succeeded",
                  "Failed",
                  "Skipped"
                ]
              }
            ],
            "typeProperties": {
              "variableName": "runWindowStartUtc",
              "value": {
                "value": "@if(or(empty(activity('ReadCheckpoint').output), empty(activity('ReadCheckpoint').output.firstRow), empty(activity('ReadCheckpoint').output.firstRow.lastSuccessfulWatermarkUtc)), variables('bootstrapWatermark'), activity('ReadCheckpoint').output.firstRow.lastSuccessfulWatermarkUtc)",
                "type": "Expression"
              }
            }
          },
          {
            "name": "CopyDataLakeGen2",
            "type": "Copy",
            "dependsOn": [
              {
                "activity": "SetWindowStart",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0
            },
            "typeProperties": {
              "source": {
                "type": "AzureBlobFSSource",
                "recursive": true,
                "modifiedDatetimeStart": {
                  "value": "@addSeconds(variables('runWindowStartUtc'), -30)",
                  "type": "Expression"
                },
                "modifiedDatetimeEnd": {
                  "value": "@variables('runWindowEndUtc')",
                  "type": "Expression"
                }
              },
              "sink": {
                "type": "AzureBlobFSSink",
                "copyBehavior": "PreserveHierarchy"
              },
              "enableStaging": false,
              "logSettings": {
                "enableCopyActivityLog": true,
                "copyActivityLogSettings": {
                  "logLevel": "Warning",
                  "enableReliableLogging": false
                },
                "logLocationSettings": {
                  "linkedServiceName": {
                    "referenceName": "checkpoint_storage",
                    "type": "LinkedServiceReference"
                  },
                  "path": "[concat(parameters('checkpointContainerName'), '/', parameters('checkpointJournalPrefix'), '/copydatalakegen2pipeline/logs')]"
                }
              },
              "skipErrorFile": {
                "fileMissing": true
              }
            },
            "inputs": [
              {
                "referenceName": "source_datalake",
                "type": "DatasetReference"
              }
            ],
            "outputs": [
              {
                "referenceName": "dest_datalake",
                "type": "DatasetReference"
              }
            ]
          },
          {
            "name": "WriteCheckpoint",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "CopyDataLakeGen2",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/', pipeline().parameters.datalakeCheckpointBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "body": {
                "value": "@concat('{', '\"schemaVersion\":\"1\",', '\"pipelineName\":\"copydatalakegen2pipeline\",', '\"lastSuccessfulWatermarkUtc\":\"', variables('runWindowEndUtc'), '\",', '\"lastRunId\":\"', pipeline().RunId, '\",', '\"lastRunStatus\":\"succeeded\",', '\"lastRunEndedUtc\":\"', utcNow(), '\"', '}')",
                "type": "Expression"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              }
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/reconcilefilesharefolderworker')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/source_fileshare')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/dest_fileshare')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_cap_counter')]"
      ],
      "properties": {
        "concurrency": 4,
        "parameters": {
          "sourceFolderPath": {
            "type": "String"
          },
          "destFolderPath": {
            "type": "String"
          },
          "currentDepth": {
            "type": "Int"
          },
          "maxDepth": {
            "type": "Int"
          },
          "capPerRun": {
            "type": "Int"
          },
          "checkpointStorageAccountName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointStorageAccountName')]"
          },
          "checkpointContainerName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointContainerName')]"
          },
          "checkpointCurrentPrefix": {
            "type": "String",
            "defaultValue": "[parameters('checkpointCurrentPrefix')]"
          },
          "fileshareReconcileCapBlobName": {
            "type": "String",
            "defaultValue": "[parameters('fileshareReconcileCapBlobName')]"
          },
          "fileshareReconcileNextFrontierBlobName": {
            "type": "String",
            "defaultValue": "[parameters('fileshareReconcileNextFrontierBlobName')]"
          }
        },
        "variables": {},
        "activities": [
          {
            "name": "GetSrcChildren",
            "type": "GetMetadata",
            "dependsOn": [],
            "typeProperties": {
              "dataset": {
                "referenceName": "source_fileshare",
                "type": "DatasetReference",
                "parameters": {
                  "folderPath": {
                    "value": "@pipeline().parameters.sourceFolderPath",
                    "type": "Expression"
                  },
                  "fileName": ""
                }
              },
              "fieldList": [
                "childItems"
              ]
            }
          },
          {
            "name": "GetDstChildren",
            "type": "GetMetadata",
            "dependsOn": [
              {
                "activity": "GetSrcChildren",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "dataset": {
                "referenceName": "dest_fileshare",
                "type": "DatasetReference",
                "parameters": {
                  "folderPath": {
                    "value": "@pipeline().parameters.destFolderPath",
                    "type": "Expression"
                  },
                  "fileName": ""
                }
              },
              "fieldList": [
                "childItems"
              ]
            }
          },
          {
            "name": "ProcessChildren",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "GetDstChildren",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "isSequential": true,
              "items": {
                "value": "@coalesce(activity('GetDstChildren').output.childItems, json('[]'))",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "ReReadCap",
                  "type": "Lookup",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 15
                  },
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "fileshare_cap_counter",
                      "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                  }
                },
                {
                  "name": "MaybeDeleteFile",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "ReReadCap",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(and(equals(toLower(item().type), 'file'), not(contains(coalesce(activity('GetSrcChildren').output.childItems, json('[]')), item()))), less(int(activity('ReReadCap').output.firstRow.deleteCount), pipeline().parameters.capPerRun))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "DeleteOrphanFile",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                          "retry": 2,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "dataset": {
                            "referenceName": "dest_fileshare",
                            "type": "DatasetReference",
                            "parameters": {
                              "folderPath": {
                                "value": "@pipeline().parameters.destFolderPath",
                                "type": "Expression"
                              },
                              "fileName": {
                                "value": "@item().name",
                                "type": "Expression"
                              }
                            }
                          },
                          "storeSettings": {
                            "type": "AzureFileStorageReadSettings",
                            "recursive": false
                          },
                          "enableLogging": false
                        }
                      },
                      {
                        "name": "BumpCapAfterFile",
                        "type": "WebActivity",
                        "dependsOn": [
                          {
                            "activity": "DeleteOrphanFile",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "connectVia": {
                          "referenceName": "adf-managed-ir",
                          "type": "IntegrationRuntimeReference"
                        },
                        "policy": {
                          "retry": 3,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "method": "PUT",
                          "url": {
                            "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileCapBlobName)",
                            "type": "Expression"
                          },
                          "headers": {
                            "x-ms-blob-type": "BlockBlob",
                            "x-ms-version": "2023-11-03",
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "MSI",
                            "resource": "https://storage.azure.com/"
                          },
                          "body": {
                            "value": "@concat('{\"runId\":\"', activity('ReReadCap').output.firstRow.runId, '\",\"cap\":', string(activity('ReReadCap').output.firstRow.cap), ',\"deleteCount\":', string(add(int(activity('ReReadCap').output.firstRow.deleteCount), 1)), ',\"updatedUtc\":\"', utcNow(), '\"}')",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "MaybeDeleteFolder",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "ReReadCap",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(and(or(equals(toLower(item().type), 'folder'), equals(toLower(item().type), 'directory')), not(contains(coalesce(activity('GetSrcChildren').output.childItems, json('[]')), item()))), less(int(activity('ReReadCap').output.firstRow.deleteCount), pipeline().parameters.capPerRun))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "DeleteOrphanFolder",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                          "retry": 2,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "dataset": {
                            "referenceName": "dest_fileshare",
                            "type": "DatasetReference",
                            "parameters": {
                              "folderPath": {
                                "value": "@if(equals(pipeline().parameters.destFolderPath, '/'), concat('/', item().name), concat(pipeline().parameters.destFolderPath, '/', item().name))",
                                "type": "Expression"
                              },
                              "fileName": ""
                            }
                          },
                          "storeSettings": {
                            "type": "AzureFileStorageReadSettings",
                            "recursive": true
                          },
                          "enableLogging": false
                        }
                      },
                      {
                        "name": "BumpCapAfterFolder",
                        "type": "WebActivity",
                        "dependsOn": [
                          {
                            "activity": "DeleteOrphanFolder",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "connectVia": {
                          "referenceName": "adf-managed-ir",
                          "type": "IntegrationRuntimeReference"
                        },
                        "policy": {
                          "retry": 3,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "method": "PUT",
                          "url": {
                            "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileCapBlobName)",
                            "type": "Expression"
                          },
                          "headers": {
                            "x-ms-blob-type": "BlockBlob",
                            "x-ms-version": "2023-11-03",
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "MSI",
                            "resource": "https://storage.azure.com/"
                          },
                          "body": {
                            "value": "@concat('{\"runId\":\"', activity('ReReadCap').output.firstRow.runId, '\",\"cap\":', string(activity('ReReadCap').output.firstRow.cap), ',\"deleteCount\":', string(add(int(activity('ReReadCap').output.firstRow.deleteCount), 1)), ',\"updatedUtc\":\"', utcNow(), '\"}')",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "MaybeEnqueueSubfolder",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "MaybeDeleteFile",
                      "dependencyConditions": [
                        "Succeeded",
                        "Skipped"
                      ]
                    },
                    {
                      "activity": "MaybeDeleteFolder",
                      "dependencyConditions": [
                        "Succeeded",
                        "Skipped"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(and(and(or(equals(toLower(item().type), 'folder'), equals(toLower(item().type), 'directory')), contains(coalesce(activity('GetSrcChildren').output.childItems, json('[]')), item())), less(add(pipeline().parameters.currentDepth, 1), pipeline().parameters.maxDepth)), less(int(activity('ReReadCap').output.firstRow.deleteCount), pipeline().parameters.capPerRun))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "AppendToNextFrontier",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "connectVia": {
                          "referenceName": "adf-managed-ir",
                          "type": "IntegrationRuntimeReference"
                        },
                        "policy": {
                          "retry": 3,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "method": "PUT",
                          "url": {
                            "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileNextFrontierBlobName, '?comp=appendblock')",
                            "type": "Expression"
                          },
                          "headers": {
                            "x-ms-version": "2023-11-03",
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "MSI",
                            "resource": "https://storage.azure.com/"
                          },
                          "body": {
                            "value": "@concat('{\"src\":\"', if(equals(pipeline().parameters.sourceFolderPath, '/'), concat('/', item().name), concat(pipeline().parameters.sourceFolderPath, '/', item().name)), '\",\"dst\":\"', if(equals(pipeline().parameters.destFolderPath, '/'), concat('/', item().name), concat(pipeline().parameters.destFolderPath, '/', item().name)), '\",\"depth\":', string(add(pipeline().parameters.currentDepth, 1)), '}', uriComponentToString('%0A'))",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/reconcilefilesharefrontierbatch')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/reconcilefilesharefolderworker')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_current_frontier')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_next_frontier')]"
      ],
      "properties": {
        "concurrency": 1,
        "parameters": {
          "checkpointStorageAccountName": {
            "type": "String"
          },
          "checkpointContainerName": {
            "type": "String"
          },
          "checkpointCurrentPrefix": {
            "type": "String"
          },
          "fileshareReconcileCapBlobName": {
            "type": "String"
          },
          "fileshareReconcileCurrentFrontierBlobName": {
            "type": "String"
          },
          "fileshareReconcileNextFrontierBlobName": {
            "type": "String"
          },
          "deleteReconcileCapPerRun": {
            "type": "Int"
          },
          "fileshareReconcileMaxDepth": {
            "type": "Int"
          }
        },
        "variables": {},
        "activities": [
          {
            "name": "LoadNextForPromotion",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "0.00:05:00",
              "retry": 2,
              "retryIntervalInSeconds": 15
            },
            "typeProperties": {
              "dataset": {
                "referenceName": "fileshare_next_frontier",
                "type": "DatasetReference"
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "PromoteToCurrent",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "LoadNextForPromotion",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileCurrentFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@string(coalesce(activity('LoadNextForPromotion').output.value, json('[]')))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "ResetNextFrontier",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "PromoteToCurrent",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileNextFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "AppendBlob",
                "x-ms-version": "2023-11-03",
                "Content-Length": "0"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              }
            }
          },
          {
            "name": "LoadCurrentFrontier",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "ResetNextFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:05:00",
              "retry": 2,
              "retryIntervalInSeconds": 15
            },
            "typeProperties": {
              "dataset": {
                "referenceName": "fileshare_current_frontier",
                "type": "DatasetReference"
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ProcessFrontier",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "LoadCurrentFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "isSequential": true,
              "items": {
                "value": "@coalesce(activity('LoadCurrentFrontier').output.value, json('[]'))",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "RunWorker",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "reconcilefilesharefolderworker",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "sourceFolderPath": {
                        "value": "@item().src",
                        "type": "Expression"
                      },
                      "destFolderPath": {
                        "value": "@item().dst",
                        "type": "Expression"
                      },
                      "currentDepth": {
                        "value": "@int(item().depth)",
                        "type": "Expression"
                      },
                      "maxDepth": {
                        "value": "@pipeline().parameters.fileshareReconcileMaxDepth",
                        "type": "Expression"
                      },
                      "capPerRun": {
                        "value": "@pipeline().parameters.deleteReconcileCapPerRun",
                        "type": "Expression"
                      },
                      "checkpointStorageAccountName": {
                        "value": "@pipeline().parameters.checkpointStorageAccountName",
                        "type": "Expression"
                      },
                      "checkpointContainerName": {
                        "value": "@pipeline().parameters.checkpointContainerName",
                        "type": "Expression"
                      },
                      "checkpointCurrentPrefix": {
                        "value": "@pipeline().parameters.checkpointCurrentPrefix",
                        "type": "Expression"
                      },
                      "fileshareReconcileCapBlobName": {
                        "value": "@pipeline().parameters.fileshareReconcileCapBlobName",
                        "type": "Expression"
                      },
                      "fileshareReconcileNextFrontierBlobName": {
                        "value": "@pipeline().parameters.fileshareReconcileNextFrontierBlobName",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/deletereconcilefilesharepipeline')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/reconcilefilesharefrontierbatch')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_cap_counter')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_current_frontier')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/fileshare_next_frontier')]"
      ],
      "properties": {
        "concurrency": 1,
        "parameters": {
          "checkpointStorageAccountName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointStorageAccountName')]"
          },
          "checkpointContainerName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointContainerName')]"
          },
          "checkpointCurrentPrefix": {
            "type": "String",
            "defaultValue": "[parameters('checkpointCurrentPrefix')]"
          },
          "fileshareReconcileCapBlobName": {
            "type": "String",
            "defaultValue": "[parameters('fileshareReconcileCapBlobName')]"
          },
          "fileshareReconcileCurrentFrontierBlobName": {
            "type": "String",
            "defaultValue": "[parameters('fileshareReconcileCurrentFrontierBlobName')]"
          },
          "fileshareReconcileNextFrontierBlobName": {
            "type": "String",
            "defaultValue": "[parameters('fileshareReconcileNextFrontierBlobName')]"
          },
          "deleteReconcileCapPerRun": {
            "type": "Int",
            "defaultValue": "[parameters('deleteReconcileCapPerRun')]"
          },
          "fileshareReconcileMaxDepth": {
            "type": "Int",
            "defaultValue": "[parameters('fileshareReconcileMaxDepth')]"
          },
          "sourceFileshareFolderPath": {
            "type": "String",
            "defaultValue": "/"
          },
          "destFileshareFolderPath": {
            "type": "String",
            "defaultValue": "/"
          }
        },
        "variables": {},
        "activities": [
          {
            "name": "InitCapCounter",
            "type": "WebActivity",
            "dependsOn": [],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileCapBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@concat('{\"runId\":\"', pipeline().RunId, '\",\"cap\":', string(pipeline().parameters.deleteReconcileCapPerRun), ',\"deleteCount\":0,\"updatedUtc\":\"', utcNow(), '\"}')",
                "type": "Expression"
              }
            }
          },
          {
            "name": "InitCurrentFrontier",
            "type": "WebActivity",
            "dependsOn": [],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileCurrentFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@concat('[', ']')",
                "type": "Expression"
              }
            }
          },
          {
            "name": "InitNextFrontierBlob",
            "type": "WebActivity",
            "dependsOn": [],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileNextFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "AppendBlob",
                "x-ms-version": "2023-11-03",
                "Content-Length": "0"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              }
            }
          },
          {
            "name": "SeedRootIntoNextFrontier",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "InitNextFrontierBlob",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.fileshareReconcileNextFrontierBlobName, '?comp=appendblock')",
                "type": "Expression"
              },
              "headers": {
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@concat('{\"src\":\"', pipeline().parameters.sourceFileshareFolderPath, '\",\"dst\":\"', pipeline().parameters.destFileshareFolderPath, '\",\"depth\":0}', uriComponentToString('%0A'))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "WalkTree",
            "type": "Until",
            "dependsOn": [
              {
                "activity": "InitCapCounter",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "InitCurrentFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "SeedRootIntoNextFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "expression": {
                "value": "@or(equals(length(coalesce(activity('LoadNextFrontierForTermination').output.value, json('[]'))), 0), greaterOrEquals(int(activity('ReReadCapForTermination').output.firstRow.deleteCount), pipeline().parameters.deleteReconcileCapPerRun))",
                "type": "Expression"
              },
              "timeout": "0.01:00:00",
              "activities": [
                {
                  "name": "RunBatch",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "reconcilefilesharefrontierbatch",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "checkpointStorageAccountName": {
                        "value": "@pipeline().parameters.checkpointStorageAccountName",
                        "type": "Expression"
                      },
                      "checkpointContainerName": {
                        "value": "@pipeline().parameters.checkpointContainerName",
                        "type": "Expression"
                      },
                      "checkpointCurrentPrefix": {
                        "value": "@pipeline().parameters.checkpointCurrentPrefix",
                        "type": "Expression"
                      },
                      "fileshareReconcileCapBlobName": {
                        "value": "@pipeline().parameters.fileshareReconcileCapBlobName",
                        "type": "Expression"
                      },
                      "fileshareReconcileCurrentFrontierBlobName": {
                        "value": "@pipeline().parameters.fileshareReconcileCurrentFrontierBlobName",
                        "type": "Expression"
                      },
                      "fileshareReconcileNextFrontierBlobName": {
                        "value": "@pipeline().parameters.fileshareReconcileNextFrontierBlobName",
                        "type": "Expression"
                      },
                      "deleteReconcileCapPerRun": {
                        "value": "@pipeline().parameters.deleteReconcileCapPerRun",
                        "type": "Expression"
                      },
                      "fileshareReconcileMaxDepth": {
                        "value": "@pipeline().parameters.fileshareReconcileMaxDepth",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "ReReadCapForTermination",
                  "type": "Lookup",
                  "dependsOn": [
                    {
                      "activity": "RunBatch",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 15
                  },
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "fileshare_cap_counter",
                      "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                  }
                },
                {
                  "name": "LoadNextFrontierForTermination",
                  "type": "Lookup",
                  "dependsOn": [
                    {
                      "activity": "ReReadCapForTermination",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 15
                  },
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "fileshare_next_frontier",
                      "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/reconciledatalakefolderworker')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/source_datalake')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/dest_datalake')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_cap_counter')]"
      ],
      "properties": {
        "concurrency": 4,
        "parameters": {
          "sourceFolderPath": {
            "type": "String"
          },
          "destFolderPath": {
            "type": "String"
          },
          "currentDepth": {
            "type": "Int"
          },
          "maxDepth": {
            "type": "Int"
          },
          "capPerRun": {
            "type": "Int"
          },
          "checkpointStorageAccountName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointStorageAccountName')]"
          },
          "checkpointContainerName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointContainerName')]"
          },
          "checkpointCurrentPrefix": {
            "type": "String",
            "defaultValue": "[parameters('checkpointCurrentPrefix')]"
          },
          "datalakeReconcileCapBlobName": {
            "type": "String",
            "defaultValue": "[parameters('datalakeReconcileCapBlobName')]"
          },
          "datalakeReconcileNextFrontierBlobName": {
            "type": "String",
            "defaultValue": "[parameters('datalakeReconcileNextFrontierBlobName')]"
          }
        },
        "variables": {},
        "activities": [
          {
            "name": "GetSrcChildren",
            "type": "GetMetadata",
            "dependsOn": [],
            "typeProperties": {
              "dataset": {
                "referenceName": "source_datalake",
                "type": "DatasetReference",
                "parameters": {
                  "folderPath": {
                    "value": "@pipeline().parameters.sourceFolderPath",
                    "type": "Expression"
                  },
                  "fileName": ""
                }
              },
              "fieldList": [
                "childItems"
              ]
            }
          },
          {
            "name": "GetDstChildren",
            "type": "GetMetadata",
            "dependsOn": [
              {
                "activity": "GetSrcChildren",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "dataset": {
                "referenceName": "dest_datalake",
                "type": "DatasetReference",
                "parameters": {
                  "folderPath": {
                    "value": "@pipeline().parameters.destFolderPath",
                    "type": "Expression"
                  },
                  "fileName": ""
                }
              },
              "fieldList": [
                "childItems"
              ]
            }
          },
          {
            "name": "ProcessChildren",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "GetDstChildren",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "isSequential": true,
              "items": {
                "value": "@coalesce(activity('GetDstChildren').output.childItems, json('[]'))",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "ReReadCap",
                  "type": "Lookup",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 15
                  },
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "datalake_cap_counter",
                      "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                  }
                },
                {
                  "name": "MaybeDeleteFile",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "ReReadCap",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(and(equals(toLower(item().type), 'file'), not(contains(coalesce(activity('GetSrcChildren').output.childItems, json('[]')), item()))), less(int(activity('ReReadCap').output.firstRow.deleteCount), pipeline().parameters.capPerRun))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "DeleteOrphanFile",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                          "retry": 2,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "dataset": {
                            "referenceName": "dest_datalake",
                            "type": "DatasetReference",
                            "parameters": {
                              "folderPath": {
                                "value": "@pipeline().parameters.destFolderPath",
                                "type": "Expression"
                              },
                              "fileName": {
                                "value": "@item().name",
                                "type": "Expression"
                              }
                            }
                          },
                          "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false
                          },
                          "enableLogging": false
                        }
                      },
                      {
                        "name": "BumpCapAfterFile",
                        "type": "WebActivity",
                        "dependsOn": [
                          {
                            "activity": "DeleteOrphanFile",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "connectVia": {
                          "referenceName": "adf-managed-ir",
                          "type": "IntegrationRuntimeReference"
                        },
                        "policy": {
                          "retry": 3,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "method": "PUT",
                          "url": {
                            "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileCapBlobName)",
                            "type": "Expression"
                          },
                          "headers": {
                            "x-ms-blob-type": "BlockBlob",
                            "x-ms-version": "2023-11-03",
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "MSI",
                            "resource": "https://storage.azure.com/"
                          },
                          "body": {
                            "value": "@concat('{\"runId\":\"', activity('ReReadCap').output.firstRow.runId, '\",\"cap\":', string(activity('ReReadCap').output.firstRow.cap), ',\"deleteCount\":', string(add(int(activity('ReReadCap').output.firstRow.deleteCount), 1)), ',\"updatedUtc\":\"', utcNow(), '\"}')",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "MaybeDeleteFolder",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "ReReadCap",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(and(or(equals(toLower(item().type), 'folder'), equals(toLower(item().type), 'directory')), not(contains(coalesce(activity('GetSrcChildren').output.childItems, json('[]')), item()))), less(int(activity('ReReadCap').output.firstRow.deleteCount), pipeline().parameters.capPerRun))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "DeleteOrphanFolder",
                        "type": "Delete",
                        "dependsOn": [],
                        "policy": {
                          "retry": 2,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "dataset": {
                            "referenceName": "dest_datalake",
                            "type": "DatasetReference",
                            "parameters": {
                              "folderPath": {
                                "value": "@concat(pipeline().parameters.destFolderPath, '/', item().name)",
                                "type": "Expression"
                              },
                              "fileName": ""
                            }
                          },
                          "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true
                          },
                          "enableLogging": false
                        }
                      },
                      {
                        "name": "BumpCapAfterFolder",
                        "type": "WebActivity",
                        "dependsOn": [
                          {
                            "activity": "DeleteOrphanFolder",
                            "dependencyConditions": [
                              "Succeeded"
                            ]
                          }
                        ],
                        "connectVia": {
                          "referenceName": "adf-managed-ir",
                          "type": "IntegrationRuntimeReference"
                        },
                        "policy": {
                          "retry": 3,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "method": "PUT",
                          "url": {
                            "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileCapBlobName)",
                            "type": "Expression"
                          },
                          "headers": {
                            "x-ms-blob-type": "BlockBlob",
                            "x-ms-version": "2023-11-03",
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "MSI",
                            "resource": "https://storage.azure.com/"
                          },
                          "body": {
                            "value": "@concat('{\"runId\":\"', activity('ReReadCap').output.firstRow.runId, '\",\"cap\":', string(activity('ReReadCap').output.firstRow.cap), ',\"deleteCount\":', string(add(int(activity('ReReadCap').output.firstRow.deleteCount), 1)), ',\"updatedUtc\":\"', utcNow(), '\"}')",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                },
                {
                  "name": "MaybeEnqueueSubfolder",
                  "type": "IfCondition",
                  "dependsOn": [
                    {
                      "activity": "MaybeDeleteFile",
                      "dependencyConditions": [
                        "Succeeded",
                        "Skipped"
                      ]
                    },
                    {
                      "activity": "MaybeDeleteFolder",
                      "dependencyConditions": [
                        "Succeeded",
                        "Skipped"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "expression": {
                      "value": "@and(and(and(or(equals(toLower(item().type), 'folder'), equals(toLower(item().type), 'directory')), contains(coalesce(activity('GetSrcChildren').output.childItems, json('[]')), item())), less(add(pipeline().parameters.currentDepth, 1), pipeline().parameters.maxDepth)), less(int(activity('ReReadCap').output.firstRow.deleteCount), pipeline().parameters.capPerRun))",
                      "type": "Expression"
                    },
                    "ifTrueActivities": [
                      {
                        "name": "AppendToNextFrontier",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "connectVia": {
                          "referenceName": "adf-managed-ir",
                          "type": "IntegrationRuntimeReference"
                        },
                        "policy": {
                          "retry": 3,
                          "retryIntervalInSeconds": 30
                        },
                        "typeProperties": {
                          "method": "PUT",
                          "url": {
                            "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileNextFrontierBlobName, '?comp=appendblock')",
                            "type": "Expression"
                          },
                          "headers": {
                            "x-ms-version": "2023-11-03",
                            "Content-Type": "application/json"
                          },
                          "authentication": {
                            "type": "MSI",
                            "resource": "https://storage.azure.com/"
                          },
                          "body": {
                            "value": "@concat('{\"src\":\"', concat(pipeline().parameters.sourceFolderPath, '/', item().name), '\",\"dst\":\"', concat(pipeline().parameters.destFolderPath, '/', item().name), '\",\"depth\":', string(add(pipeline().parameters.currentDepth, 1)), '}', uriComponentToString('%0A'))",
                            "type": "Expression"
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/reconciledatalakefrontierbatch')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/reconciledatalakefolderworker')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_current_frontier')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_next_frontier')]"
      ],
      "properties": {
        "concurrency": 1,
        "parameters": {
          "checkpointStorageAccountName": {
            "type": "String"
          },
          "checkpointContainerName": {
            "type": "String"
          },
          "checkpointCurrentPrefix": {
            "type": "String"
          },
          "datalakeReconcileCapBlobName": {
            "type": "String"
          },
          "datalakeReconcileCurrentFrontierBlobName": {
            "type": "String"
          },
          "datalakeReconcileNextFrontierBlobName": {
            "type": "String"
          },
          "deleteReconcileCapPerRun": {
            "type": "Int"
          },
          "datalakeReconcileMaxDepth": {
            "type": "Int"
          }
        },
        "variables": {},
        "activities": [
          {
            "name": "LoadNextForPromotion",
            "type": "Lookup",
            "dependsOn": [],
            "policy": {
              "timeout": "0.00:05:00",
              "retry": 2,
              "retryIntervalInSeconds": 15
            },
            "typeProperties": {
              "dataset": {
                "referenceName": "datalake_next_frontier",
                "type": "DatasetReference"
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "PromoteToCurrent",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "LoadNextForPromotion",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileCurrentFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@string(coalesce(activity('LoadNextForPromotion').output.value, json('[]')))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "ResetNextFrontier",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "PromoteToCurrent",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileNextFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "AppendBlob",
                "x-ms-version": "2023-11-03",
                "Content-Length": "0"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              }
            }
          },
          {
            "name": "LoadCurrentFrontier",
            "type": "Lookup",
            "dependsOn": [
              {
                "activity": "ResetNextFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:05:00",
              "retry": 2,
              "retryIntervalInSeconds": 15
            },
            "typeProperties": {
              "dataset": {
                "referenceName": "datalake_current_frontier",
                "type": "DatasetReference"
              },
              "firstRowOnly": false
            }
          },
          {
            "name": "ProcessFrontier",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "LoadCurrentFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "isSequential": true,
              "items": {
                "value": "@coalesce(activity('LoadCurrentFrontier').output.value, json('[]'))",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "RunWorker",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "reconciledatalakefolderworker",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "sourceFolderPath": {
                        "value": "@item().src",
                        "type": "Expression"
                      },
                      "destFolderPath": {
                        "value": "@item().dst",
                        "type": "Expression"
                      },
                      "currentDepth": {
                        "value": "@int(item().depth)",
                        "type": "Expression"
                      },
                      "maxDepth": {
                        "value": "@pipeline().parameters.datalakeReconcileMaxDepth",
                        "type": "Expression"
                      },
                      "capPerRun": {
                        "value": "@pipeline().parameters.deleteReconcileCapPerRun",
                        "type": "Expression"
                      },
                      "checkpointStorageAccountName": {
                        "value": "@pipeline().parameters.checkpointStorageAccountName",
                        "type": "Expression"
                      },
                      "checkpointContainerName": {
                        "value": "@pipeline().parameters.checkpointContainerName",
                        "type": "Expression"
                      },
                      "checkpointCurrentPrefix": {
                        "value": "@pipeline().parameters.checkpointCurrentPrefix",
                        "type": "Expression"
                      },
                      "datalakeReconcileCapBlobName": {
                        "value": "@pipeline().parameters.datalakeReconcileCapBlobName",
                        "type": "Expression"
                      },
                      "datalakeReconcileNextFrontierBlobName": {
                        "value": "@pipeline().parameters.datalakeReconcileNextFrontierBlobName",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/deletereconciledalakepipeline')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/reconciledatalakefrontierbatch')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_cap_counter')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_current_frontier')]",
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/datasets/datalake_next_frontier')]"
      ],
      "properties": {
        "concurrency": 1,
        "parameters": {
          "checkpointStorageAccountName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointStorageAccountName')]"
          },
          "checkpointContainerName": {
            "type": "String",
            "defaultValue": "[parameters('checkpointContainerName')]"
          },
          "checkpointCurrentPrefix": {
            "type": "String",
            "defaultValue": "[parameters('checkpointCurrentPrefix')]"
          },
          "datalakeReconcileCapBlobName": {
            "type": "String",
            "defaultValue": "[parameters('datalakeReconcileCapBlobName')]"
          },
          "datalakeReconcileCurrentFrontierBlobName": {
            "type": "String",
            "defaultValue": "[parameters('datalakeReconcileCurrentFrontierBlobName')]"
          },
          "datalakeReconcileNextFrontierBlobName": {
            "type": "String",
            "defaultValue": "[parameters('datalakeReconcileNextFrontierBlobName')]"
          },
          "deleteReconcileCapPerRun": {
            "type": "Int",
            "defaultValue": "[parameters('deleteReconcileCapPerRun')]"
          },
          "datalakeReconcileMaxDepth": {
            "type": "Int",
            "defaultValue": "[parameters('datalakeReconcileMaxDepth')]"
          },
          "sourceDatalakeFolderPath": {
            "type": "String",
            "defaultValue": "[parameters('sourceDatalakeFilesystem')]"
          },
          "destDatalakeFolderPath": {
            "type": "String",
            "defaultValue": "[parameters('destDatalakeFilesystem')]"
          }
        },
        "variables": {},
        "activities": [
          {
            "name": "InitCapCounter",
            "type": "WebActivity",
            "dependsOn": [],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileCapBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@concat('{\"runId\":\"', pipeline().RunId, '\",\"cap\":', string(pipeline().parameters.deleteReconcileCapPerRun), ',\"deleteCount\":0,\"updatedUtc\":\"', utcNow(), '\"}')",
                "type": "Expression"
              }
            }
          },
          {
            "name": "InitCurrentFrontier",
            "type": "WebActivity",
            "dependsOn": [],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileCurrentFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "BlockBlob",
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@concat('[', ']')",
                "type": "Expression"
              }
            }
          },
          {
            "name": "InitNextFrontierBlob",
            "type": "WebActivity",
            "dependsOn": [],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileNextFrontierBlobName)",
                "type": "Expression"
              },
              "headers": {
                "x-ms-blob-type": "AppendBlob",
                "x-ms-version": "2023-11-03",
                "Content-Length": "0"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              }
            }
          },
          {
            "name": "SeedRootIntoNextFrontier",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "InitNextFrontierBlob",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "connectVia": {
              "referenceName": "adf-managed-ir",
              "type": "IntegrationRuntimeReference"
            },
            "policy": {
              "retry": 3,
              "retryIntervalInSeconds": 30
            },
            "typeProperties": {
              "method": "PUT",
              "url": {
                "value": "@concat(concat('https://', pipeline().parameters.checkpointStorageAccountName, '.blob.core.windows.net/', pipeline().parameters.checkpointContainerName, '/', pipeline().parameters.checkpointCurrentPrefix, '/'), pipeline().parameters.datalakeReconcileNextFrontierBlobName, '?comp=appendblock')",
                "type": "Expression"
              },
              "headers": {
                "x-ms-version": "2023-11-03",
                "Content-Type": "application/json"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com/"
              },
              "body": {
                "value": "@concat('{\"src\":\"', pipeline().parameters.sourceDatalakeFolderPath, '\",\"dst\":\"', pipeline().parameters.destDatalakeFolderPath, '\",\"depth\":0}', uriComponentToString('%0A'))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "WalkTree",
            "type": "Until",
            "dependsOn": [
              {
                "activity": "InitCapCounter",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "InitCurrentFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "SeedRootIntoNextFrontier",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "expression": {
                "value": "@or(equals(length(coalesce(activity('LoadNextFrontierForTermination').output.value, json('[]'))), 0), greaterOrEquals(int(activity('ReReadCapForTermination').output.firstRow.deleteCount), pipeline().parameters.deleteReconcileCapPerRun))",
                "type": "Expression"
              },
              "timeout": "0.01:00:00",
              "activities": [
                {
                  "name": "RunBatch",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "reconciledatalakefrontierbatch",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "checkpointStorageAccountName": {
                        "value": "@pipeline().parameters.checkpointStorageAccountName",
                        "type": "Expression"
                      },
                      "checkpointContainerName": {
                        "value": "@pipeline().parameters.checkpointContainerName",
                        "type": "Expression"
                      },
                      "checkpointCurrentPrefix": {
                        "value": "@pipeline().parameters.checkpointCurrentPrefix",
                        "type": "Expression"
                      },
                      "datalakeReconcileCapBlobName": {
                        "value": "@pipeline().parameters.datalakeReconcileCapBlobName",
                        "type": "Expression"
                      },
                      "datalakeReconcileCurrentFrontierBlobName": {
                        "value": "@pipeline().parameters.datalakeReconcileCurrentFrontierBlobName",
                        "type": "Expression"
                      },
                      "datalakeReconcileNextFrontierBlobName": {
                        "value": "@pipeline().parameters.datalakeReconcileNextFrontierBlobName",
                        "type": "Expression"
                      },
                      "deleteReconcileCapPerRun": {
                        "value": "@pipeline().parameters.deleteReconcileCapPerRun",
                        "type": "Expression"
                      },
                      "datalakeReconcileMaxDepth": {
                        "value": "@pipeline().parameters.datalakeReconcileMaxDepth",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "ReReadCapForTermination",
                  "type": "Lookup",
                  "dependsOn": [
                    {
                      "activity": "RunBatch",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 15
                  },
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "datalake_cap_counter",
                      "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                  }
                },
                {
                  "name": "LoadNextFrontierForTermination",
                  "type": "Lookup",
                  "dependsOn": [
                    {
                      "activity": "ReReadCapForTermination",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 15
                  },
                  "typeProperties": {
                    "dataset": {
                      "referenceName": "datalake_next_frontier",
                      "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/copyfilesharetrigger')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/copyfilesharepipeline')]"
      ],
      "properties": {
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Minute",
            "interval": 5,
            "startTime": "2026-03-02T12:00:00Z"
          }
        },
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "copyfilesharepipeline",
              "type": "PipelineReference"
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/copydatalakegen2trigger')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/copydatalakegen2pipeline')]"
      ],
      "properties": {
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Minute",
            "interval": 5,
            "startTime": "2026-03-02T12:00:00Z"
          }
        },
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "copydatalakegen2pipeline",
              "type": "PipelineReference"
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/deletereconcilefilesharetrigger')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/deletereconcilefilesharepipeline')]"
      ],
      "properties": {
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "[parameters('deleteReconcileTriggerStartTime')]",
            "schedule": {
              "hours": "[json(parameters('deleteReconcileScheduleHours'))]"
            }
          }
        },
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "deletereconcilefilesharepipeline",
              "type": "PipelineReference"
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/deletereconciledalakegen2trigger')]",
      "dependsOn": [
        "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'), '/pipelines/deletereconciledalakepipeline')]"
      ],
      "properties": {
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "[parameters('deleteReconcileTriggerStartTime')]",
            "schedule": {
              "hours": "[json(parameters('deleteReconcileScheduleHours'))]"
            }
          }
        },
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "deletereconciledalakepipeline",
              "type": "PipelineReference"
            }
          }
        ]
      }
    }
  ]
}
